.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b8b2b2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
    text-align: center;
  }
  
  input[type="file"] {
    display: block;
    margin: 0 auto;
  }
  
  button {
    margin-top: 10px;
  }
  